{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'TODO_List/style.css' %}" />

<head><title>TODO: {{ todo_item.title }}</title></head>

<h1 class="header">{{ todo_item.title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if todo_item.priority == "HIG" %}
    <h2 class="high">!!!High Priority!!!</h2>
{% elif todo_item.priority == "MED" %}
    <h2 class="med">***Medium Priority***</h2>
{% elif todo_item.priority == "LOW" %}
    <h2 class="low">Low Priority</h2>
{% endif %}

<h3 class="duedate">Due on {{ todo_item.due_date }}</h3>

<!-- TODO: get this working! -->
{% if todo_item.isCompleted == true %}
    <h3 class="completed">Completed</h3>
{% else %}
    <h3 class="incomplete">Incomplete</h3>
{% endif %}

<div><p class="description">{{ todo_item.description }}</p></div>

<div class="options">
    <a class="option" href="{% url 'TODO_List:new' %}">Edit</a>
    <form class="option" action="{% url 'TODO_List:delete' todo_item.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" />
    </form>
    <a href="{% url 'TODO_List:index' %}">Home</a>
</div>