{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'TODO_List/style.css' %}" />

<head><title>Edit Task</title></head>

<form action="{% url 'TODO_List:edit' todo_id %}" method="post">
{% csrf_token %}
    {% for field in form %}
        <div class="formdiv">
            <div><label>{{ field.label }}</label></div>
            {{ field }}
        </div>
    {% endfor %}
    <input class ="submit" type="submit" value="Submit" />
</form>

<div class="cancel"><a href="{% url 'TODO_List:index' %}">Cancel</a></div>