/* new.html */
.formdiv {
    margin-left: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cancel {
    margin-left: 80px;
}

.submit {
    margin-left: 80px;
}
/* end new.html */

/* detail.html */
.high {
    color: red;
    margin-left: 80px;
}

.med {
    color: orange;
    margin-left: 80px;
}

.low {
    color: blue;
    margin-left: 80px;
}

.completed {
    color: green;
    margin-left: 80px;
}

.incomplete {
    color: red;
    margin-left: 80px;
}

.duedate {
    margin-left: 80px;
}

.description {
    margin-left: 80px;
}

.header {
    margin-left: 80px;
}

.options {
    margin-left: 80px;
}

.option {
    padding-right: 20px;
    display: inline-block;
}
/* end detail.html */

/* index.html */
.todolist {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 50px;
    font-size: 20px;
}

.new {
    text-align: right;
    margin-right: 80px;
    font-size: 26px;
}

.mainTitle {
    text-align: center;
    font-size: 40px;
}

.nag {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}
/* end index.html */

/* All */
body {
    background: white url("images/background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Bookman Old Style;
}
